    <header>
        <h1> {{title}}</h1>

<class="navbar"nav>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">

                <li><a class="navBar" href="/">Fremside</a></li>
                <li><a class="navBar" href="/shoppingCart">your cart</a></li>
                <li><a class="navBar" href="/review">reviews</a></li>
                <li><a class="navBar" href="/loginForm.html">logout</a></li>
            
            <div class=&rdquo;menu&rdquo;></div>
        </div>
    </ul>
</nav>

    </header>